{% extends "base.html" %}
{% load static i18n %}
{% block title %}Parties{% endblock %}

{% block content %}
<div class="container">
  <h2>Parties</h2>

  <div class="list-group">
    {% for party in party_list %}
      <a href="{% url 'queue:party_detail' party.id %}" class="list-group-item">
      <!-- <a href="#" class="list-group-item"> -->
        <h4 class="list-group-item-heading">Party of size {{ party.size }} under {{ party.name }}</h4>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
